<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alexandria UI</title>
</head>
<body>
    {{ range . }}
        <div class="action">
            <h2 class="action__title">Action: {{ .Name }}</h2>
            <p class="action__description">Description: {{ .Description }}</p>
            <div class="actor">
                <h3>Actor</h3>
                <p class="actor__type">Triggered by system: {{ .Actor.IsSystem }}</p>
                <p class="actor__type">Description: {{ .Actor.Description }}</p>
            </div>

            <h3 class="response__title">Response to user</h3>
            <div class="response response-to-user">
                <code class="response__schema">
                    {{ .ResponseToUserSchema }}
                </code>
            </div>

            <h3 class="response__title">Response to group</h3>
            <div class="response response-to-group">
                <code class="response__schema">
                    {{ .ResponseToGroupSchema }}
                </code>
            </div>
        </div>
    {{ end }}
</body>
</html>
